@media (max-width:952px){
    .container0 {
        display: inline-block;
        position: absolute;
        top:90px;
        left:10px;
    }
    .typed-out{
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        padding-right: 5px;
        font-size: 1.6rem;
        width: 0;
        margin-left: 0;
        animation: typing 4s forwards, blinking 1.5s infinite;
        animation-delay: 0s, 4s;
        animation-iteration-count: 1, 4;
      }
      @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
      }
      @keyframes blinking {
        0%{border-color:orange;}
        100%{border-color:transparent;}
      }
      nav{
        justify-content: center;
        align-items: center;
        justify-items: center;
      }
    nav img{
        position: absolute;
        top:0px;
        left:0px;
        width:80px;
        height:80px;
    }
    nav ul li a{
        font-size:16px;
        font-color:black;
    }
    body{
        background: rgb(186, 209, 218);
        -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .checkbtn{
        display:block;
    }
    ul{
      display: none;
      position: fixed;
      width: 92%;
      height:88%;
      /* background: rgb(186, 209, 218); */
      background: white;
      top:11%;
      left:4%;
      padding: 80px;
      text-align: center;
      transition: all .5s;
      z-index: 1;
      cursor: pointer;
    }
    nav ul li{
      display:block;
      margin:50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size:20px;
    }
    nav ul li a:hover{
      color: #707070;
    }
    /* a:hover,a.active{
        background: none;
        color:whitesmoke;
    } */
    #check:checked ~ ul{
        display: block;
    }
    .checkbtn{
        position: absolute;
        top:4%;
        right:4%;
        background: transparent;
        width: 50px;
        height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    #check{
        display: none;
        width:50px;
        height:50px;
        position:absolute;
        top:4%;
        right:4%;
    }
    .checkbtn .h1{
        background:white;
        position:absolute;
        top:0%;
        left:10%;
        width:60%;
        height:4%;
        border-radius: 4px;
    }
    .checkbtn .h2{
        background:white;
        position:absolute;
        top:30%;
        left:10%;
        width:60%;
        height:4%;
        border-radius: 4px;
    }
    .checkbtn .h3{
        background:white;
        position:absolute;
        top:60%;
        left:10%;
        width:60%;
        height:4%;
        border-radius: 4px;
    }
    #hr{
        display: none;
    }
}